numpy==1.24.3
imageio==2.34.2
Cython==3.0.11
triton==2.0.0
hydra-core==1.3.2
sympy==1.13.2
requests==2.32.3
onnxruntime==1.2.0
tqdm==4.66.5
matplotlib==3.7.5
PyYAML==6.0.2
openai==0.28.0
pillow==10.4.0
Hydra==2.5
